.dog-wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dog-wrapper img {
    max-width: 200px;
    max-height: 200px;
}

h2 {
    font-size: 30px;
}


.errors {
    font-style: italic;
    font-weight: 800;
    margin-left: 60px;
    font-size: 25px;
    color: rgb(205, 4, 4);
    position: absolute;
    top: 0;
    left: 150px;
}